{% extends "base.html" %}
{% block content %}
<main class="content">
    <div class="container p-0">

        <!-- <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                {%for user in users%}
                    {% if loop.index == 1 %}
                        <button class="nav-link" id="v-pills-{{loop.index}}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{loop.index}}" type="button" role="tab" aria-controls="v-pills-{{loop.index}}" aria-selected="true">{{user['username']}}</button>
                    {% else %}
                        <button class="nav-link" id="v-pills-{{loop.index}}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{loop.index}}" type="button" role="tab" aria-controls="v-pills-{{loop.index}}" aria-selected="false">{{user['username']}}</button>
                    {% endif %}
                {%endfor%}
            </div>
            <div class="tab-content" id="v-pills-tabContent">
                {%for user in users %}
                    {% if loop.index == 1 %}
                        <div class="tab-pane fade active show" id="v-pills-{{loop.index}}" role="tabpanel" aria-labelledby="v-pills-{{loop.index}}-tab" aria-selected="true">
                            {{loop.index}}
                        </div>
                    {% else %}
                        <div class="tab-pane fade" id="v-pills-{{loop.index}}" role="tabpanel" aria-labelledby="v-pills-{{loop.index}}-tab" aria-selected="false">
                            {{loop.index}}
                        </div>
                        
                    {% endif %}
                {%endfor%}
            </div>
          </div> -->















<div class="card">
    <div class="row g-0">
        <div class="col-12 col-lg-5 col-xl-3 border-right">


            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                {%for user in users%}
                    {% if loop.index == 1 %}
                        {%if user['username'] == session['username']%}
                            <button class="nav-link list-group-item list-group-item-action border-0 active" id="v-pills-{{loop.index}}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{loop.index}}" type="button" role="tab" aria-controls="v-pills-{{loop.index}}" aria-selected="true">Saved Messages</button>
                            {% else %}
                            <button class="nav-link list-group-item list-group-item-action border-0 active" id="v-pills-{{loop.index}}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{loop.index}}" type="button" role="tab" aria-controls="v-pills-{{loop.index}}" aria-selected="true">{{user['username']}}</button>
                        {% endif %}
                    {% else %}
                        {%if user['username'] == session['username']%}
                        <button class="nav-link list-group-item list-group-item-action border-0" id="v-pills-{{loop.index}}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{loop.index}}" type="button" role="tab" aria-controls="v-pills-{{loop.index}}" aria-selected="false">Saved Messages</button>
                        {% else %}
                        <button class="nav-link list-group-item list-group-item-action border-0" id="v-pills-{{loop.index}}-tab" data-bs-toggle="pill" data-bs-target="#v-pills-{{loop.index}}" type="button" role="tab" aria-controls="v-pills-{{loop.index}}" aria-selected="false">{{user['username']}}</button>
                        {% endif %}
                    {% endif %}
                {%endfor%}
            </div>
            

            <hr class="d-block d-lg-none mt-1 mb-0">
        </div>
        <div class="col-12 col-lg-7 col-xl-9">

            <div class="tab-content" id="v-pills-tabContent">
                {%for user in users %}
                    {% if loop.index == 1 %}

                        {% set active_show = 'active show' %}
                        {% set aria_selected = 'true' %}
                    
                    {% else %}
                        {% set active_show = '' %}
                        {% set aria_selected = 'false' %}

                    {% endif %}

                        <div class="tab-pane fade {{active_show}}" id="v-pills-{{loop.index}}" role="tabpanel" aria-labelledby="v-pills-{{loop.index}}-tab" aria-selected="{{aria_selected}}">

                            {% for message in messages %}
                                {% if message['author'] == session['username']%}
                                    {% set message_author = 'You' %}
                                    {% set message_side = 'right' %}
                                    {% set delete_bool = 1 %}
                                {% else %}
                                    {% set message_author = message['author'] %}
                                    {% set message_side = 'left' %}
                                    {% set delete_bool = 0 %}
                                {% endif %}

                                {% set plot_message = 0 %}

                                {% if message['destination'] == 'Group Chat' and user['username'] == 'Group Chat' %}
                                    {% set plot_message = 1%}
                                {% endif %}

                                {% if message['destination'] == user['username'] and message['author'] == session['username']%}
                                    {% set plot_message = 1 %}
                                {% endif %}

                                {% if message['destination'] == session['username'] and message['author'] == user['username'] %}
                                    {% set plot_message = 1 %}
                                {% endif %}

                                {% if plot_message %}
                                        <div class="chat-message-{{message_side}} pb-4">
                                            <div>
                                                <div class="text-muted small text-nowrap mt-2">{{message['date']}}</div>
                                                <a href="{{ url_for('chatroom_delete_message', id=message['id']) }}" class="btn btn-danger btn-sm">Delete</a>
                                            </div>
                                            <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3">
                                                <div class="font-weight-bold mb-1">{{message_author}}</div>
                                                {{message['message']}}
                                            </div>
                                        </div>
                                {% endif %}
                            {% endfor %}

                            <form action="{{ url_for('chatroom_send_message', destination=user['username']) }}" method=post enctype=multipart/form-data> 
                                <div class="flex-grow-0 py-3 px-4 border-top">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Type your message" name="message" autocomplete="off"> 
                                        <button class="btn btn-primary" >Send</button>
                                    </div>
                                </div>
                            </form>

                        </div>

                    
                {%endfor%}
            </div>


        </div>
    </div>
</div>
</div>

</main>
{% endblock %}