
{% if template_name is not defined %}
  {% set template_name = '' %}
{% endif %}

{% if conditoin_no is not defined %}
  {% set conditoin_no = 0 %}
{% endif %}

  <div class="form-group col-md-12" style="margin-top: 1rem;border-style: groove;border-color: white;border-top: medium;border-right: none;">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          {% if conditions is not none %}
          <p class="nav-item nav-link disabled" data-toggle="tab"role="tab" aria-selected="false">Conditions</p>
            {% for condition, condition_dict in conditions.items() %}
              {% if loop.index == 1 %}
                <a class="nav-item nav-link active show" id="nav-conditoin{{conditoin_no}}_{{loop.index}}-tab" data-toggle="tab" href="#nav-conditoin{{conditoin_no}}_{{loop.index}}" role="tab" aria-controls="nav-conditoin{{conditoin_no}}_{{loop.index}}" aria-selected="true">{{condition}}</a>
              {% else %}
                <a class="nav-item nav-link" id="nav-conditoin{{conditoin_no}}_{{loop.index}}-tab" data-toggle="tab" href="#nav-conditoin{{conditoin_no}}_{{loop.index}}" role="tab" aria-controls="nav-conditoin{{conditoin_no}}_{{loop.index}}" aria-selected="false">{{condition}}</a>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>
    </nav>

    <div class="tab-content" id="nav-tabContent" style="margin-top: 0.5rem;">

    {% if conditions is not none %}
      {% for condition, condition_dict in conditions.items() %}
      {% set outer_loop = loop %}
        {% if loop.index == 1 %}
          <div class="tab-pane fade active show" id="nav-conditoin{{conditoin_no}}_{{outer_loop.index}}" role="tabpanel" aria-labelledby="nav-conditoin{{conditoin_no}}_{{outer_loop.index}}-tab">
        {% else %}
            <div class="tab-pane fade" id="nav-conditoin{{conditoin_no}}_{{outer_loop.index}}" role="tabpanel" aria-labelledby="nav-conditoin{{conditoin_no}}_{{outer_loop.index}}-tab">
        {% endif %}

        <div class="row">

          <div class="col-3" style="overflow: scroll;padding: 1rem;height: 15rem; overflow-x: hidden;">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              {% if condition_dict is not none %}
                {% for condition_nested, condition_dict_nested in condition_dict.items() %}
                  {% if loop.index == 1 %}
                    <a class="nav-link active show" id="v-pills-condition{{conditoin_no}}_nested_{{outer_loop.index}}_{{loop.index}}-tab" data-toggle="pill" href="#v-pills-condition{{conditoin_no}}_nested_{{outer_loop.index}}_{{loop.index}}" role="tab" aria-controls="v-pills-condition{{conditoin_no}}_nested_{{outer_loop.index}}_{{loop.index}}" aria-selected="true">{{condition_nested}}</a>
                  {% else %}
                    <a class="nav-link" id="v-pills-condition{{conditoin_no}}_nested_{{outer_loop.index}}_{{loop.index}}-tab" data-toggle="pill" href="#v-pills-condition{{conditoin_no}}_nested_{{outer_loop.index}}_{{loop.index}}" role="tab" aria-controls="v-pills-condition{{conditoin_no}}_nested_{{outer_loop.index}}_{{loop.index}}" aria-selected="false">{{condition_nested}}</a>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          </div>

          <div class="col-9" style="overflow: scroll;padding: 2rem;height: 15rem; overflow-x: hidden;"> 

            <div class="tab-content" id="v-pills-tabContent">
              {% if condition_dict is not none %}
                {% for condition_nested, condition_dict_nested in condition_dict.items() %}
                  {% if loop.index == 1 %}
                    <div class="tab-pane fade active show" id="v-pills-condition{{conditoin_no}}_nested_{{outer_loop.index}}_{{loop.index}}" role="tabpanel" aria-labelledby="v-pills-condition{{conditoin_no}}_nested_{{outer_loop.index}}_{{loop.index}}-tab">
                  {% else %}
                    <div class="tab-pane fade" id="v-pills-condition{{conditoin_no}}_nested_{{outer_loop.index}}_{{loop.index}}" role="tabpanel" aria-labelledby="v-pills-condition{{conditoin_no}}_nested_{{outer_loop.index}}_{{loop.index}}-tab">
                  {% endif %}
                  <div class="row">
                  {% for condition_single in condition_dict_nested %}

                    {% if "&" in condition_single[0] %}
                      {% set param_name = condition_single[0].split("&")[0] %}

                      {% if condition_single|length == 2 %}
                        {% set param_value = "-" %}
                      {% elif condition_single|length == 3 %}
                        {% set param_value = condition_single[2] %}
                      {% endif %}

                      <div class="col-md-3" style="margin: 0.21rem;">
                          <input class="form-check-input" type="checkbox" {{condition_single[1]}} id="PARAM&condition&{{template_name}}&{{condition}}&{{condition_nested}}&{{param_name}}" name="PARAM&condition&{{template_name}}&{{condition}}&{{condition_nested}}&{{param_name}}">
                          <label class="form-check-label" for="PARAM&condition&{{template_name}}&{{condition}}&{{condition_nested}}&{{param_name}}">
                            {{param_name}}
                          </label>
                          {% if condition_single|length == 2 %}
                            <input type="text" name="PARAMVALUE&condition&{{template_name}}&{{condition}}&{{condition_nested}}&{{param_name}}" style="width: 50%;font-size: small;" placeholder="Details...">
                          {% elif condition_single|length == 3 %}
                            <input type="text" name="PARAMVALUE&condition&{{template_name}}&{{condition}}&{{condition_nested}}&{{param_name}}" value="{{condition_single[2]}}" style="width: 50%;font-size: small;" placeholder="Details...">
                          {% endif %}
                      </div>

                    {% else %}
                    
                        <div class="col-md-3" style="margin: 0.21rem;">
                            <input class="form-check-input" type="checkbox" {{condition_single[1]}} id="condition&{{template_name}}&{{condition}}&{{condition_nested}}&{{condition_single[0]}}" name="condition&{{template_name}}&{{condition}}&{{condition_nested}}&{{condition_single[0]}}">
                            <label class="form-check-label" for="condition&{{template_name}}&{{condition}}&{{condition_nested}}&{{condition_single[0]}}">
                              {{condition_single[0]}}
                            </label>
                        </div>

                    {% endif %}
                  {% endfor %}
                </div>
                </div>
              {% endfor %}
            {% endif %}


            </div>

          </div>

        </div>


      </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
