{% extends 'base.html' %}


{% block content %}
    <div class="container border rounded addpage" style="align-items: center;text-align: center;margin-top: 5rem;">
      <h1>Please login</h1>
      <br>
      <form action="" method="post">


        <div class="row">
          <div class="col-md-4">
            <input style="padding:0.2rem;" type="text" placeholder="Username" name="username" value="{{
              request.form.username }}">
          </div>

          <div class="col-md-4">
            <input style="padding:0.2rem;" type="password" placeholder="Password" name="password" value="{{
              request.form.password }}">
          </div>

          <div style="padding:0.2rem;" class="col-md-4">
            {{ captcha() }} <!-- This renders an <img> tag with the captcha img. -->
            <input type="text" name="captcha">
          </div>

          <div class="col-md-4">
            <input class="btn btn-primary" type="submit" value="Login">
          </div>

        </div>

        
         
        
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  {% endblock %}