{% extends 'base.html' %}


{% block content %}
    <div class="container border rounded addpage" style="align-items: center;text-align: center;margin-top: 5rem;">
      <h1>Please login</h1>
      <br>
      <form action="{{ url_for('login') }}" method="post">

        {{ form.csrf_token }}
        <div class="row">
          <div class="col-md-4">
            <p>
              {{ form.username.label }}<br>
              {{ form.username }}
          </p>
          </div>

          <div class="col-md-4">
            <p>
              {{ form.password.label }}<br>
              {{ form.password }}
          </p>
          </div>

          <div style="padding:0.2rem;" class="col-md-4">
            <p>
                {{ form.recaptcha }}
            </p>
          </div>

          <div class="col-md-4">
            <input class="btn btn-primary" type="submit" value="Login">
          </div>

        </div>

        
         
        
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
    </div>
  {% endblock %}