{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>{% block title %} Protocols {% endblock %}</h1> 

    <div class="card-deck">
    {% if Files is not none %}
        {% for file in Files %}

            <div class="card-block" style="margin: .5rem; margin-bottom: 1em; margin-top: 1em">
                <div class="CardMain card text-center" style="width: 18rem;">
                 
                        <a href="{{ url_for('send_protocol_file', path=file) }}">
                            <h4 class="CardMain">{{file}}</h4>
                        </a>
                </div>
            </div>
            
            
        {% endfor %}
    {% endif %}
</div>
    </div>
</div>
{% endblock %}
