{% extends 'base.html' %}

{% block content %}

 <title>Restore Database</title>
 <h1>Restore Database</h1>
 <div class="container border rounded addpage">
    <form action="/restore_db" method=post enctype=multipart/form-data>

        <div class="form-group col-md-12">
            <input type="file" class="form-control" id="Files_id" name="Files" aria-describedby="Files">
            <label class="custom-file-label" for="Files_id" id="Files_name_id" >Backup File</label>
        </div>

        <div class="input-group mb-3 row" style="padding-bottom: 2rem; padding-top: 2rem;">
            <div class="col-md-4">
                <button class="btn btn-primary" type=submit Course>Restore Database</button>
            </div>
        </div>
    </form>
</div>
    

 
 {% endblock %}